body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
    all: unset;
    background-color: steelblue;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    white-space:nowrap;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.modal_content {
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    width: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h1{
    margin: 0;
    white-space:nowrap;
}
.hidden {
    display: none;
}